
.main_holder{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:80vh;
    margin-bottom: 44px;

}
.holder{
    display: flex;
    width:60%;
    height:67%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    width:80%;
    height:70%;
}



.greetings{
    font-size: 90px;
    color:#4D4D4D;
    margin-top: -10%;
    margin-bottom: 0px;
    font-family: Andale Mono, monospace;
}
.below_greeting{
    color:#4D4D4D;
    font-size:37px;
    word-spacing: 4px;
    margin-top:0px;
    font-family: Andale Mono, monospace;
}
.photo{
    border-radius:50%;
    height:20em;
}
.circle{
    height:120px;
    text-align: center;
    width:120px;
    display: flex;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    border-radius: 50%;
    background-color:#E83556;
    color:white;
    font-size:18px;
    font-family: calibri;

}
.circle:hover{
    cursor: pointer;
    opacity: 0.7;
}
.two{
    background-color: #61D0D4;
}
.three{
    background-color: #D1C926;
}
.circle_container{
    display: flex;
}
.para{
    font-size: 14px;
    margin-top: 15px;
    width:100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:grey;
}
.info{
    margin-top: 12%;
    margin-left:-17px;
    text-align: center;
    color:#4D4D4D;
    font-family: Brush Script MT, Brush Script Std, cursive;
}
.name{
    font-size:35px;
    margin-top: 0px;
}

@media only screen and (max-width:700px) {
    .main_holder{
        display: block;
        text-align: left;
        margin-left:0px;
    }
    .holder{
        width:95%;
        margin-left:20px;
        display: block;
        text-align: left;
    }
    .content{
        width:95%;
        margin-top: 60px;
        margin-left:0px;
    }
    .greetings{
        font-size:50px;
    }
    .circle{
        height:90px;
        width:90px;
        margin-right: 5px;
        
    }
    .para{
        margin-left:0px;
        text-align: left;
        width:95%;
    }
    .photo{
        margin-top: 0%;
        height:15rem;
    }
    .circle_container{
        margin-left: 0px;
        margin-left:auto;
        text-align: left;
        justify-content: space-around;
        width:100%;
    }

}